@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@100;200;300;400;500;600;700;800;900&display=swap");
/* @import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.1/font/bootstrap-icons.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"); */

@font-face {
  font-family: 'Barlow';
  src: url('../font/barlow.woff') format('woff'),
    url('../font/barlow.woff2') format('woff2'),
    url('../font/barlow.ttf') format('truetype');
  font-style: normal;
}

@font-face {
  font-family: 'Barlow Bold';
  src: url('../font/barlow-bold.woff') format('woff'),
    url('../font/barlow-bold.woff2') format('woff2'),
    url('../font/barlow-bold.ttf') format('truetype');
  font-style: normal;
}

@font-face {
  font-family: 'Barlow Black';
  src: url('../font/barlow-black.woff') format('woff'),
    url('../font/barlow-black.woff2') format('woff2'),
    url('../font/barlow-black.ttf') format('truetype');
  font-style: normal;
}

@font-face {
  font-family: 'Fugaz';
  src: url('../font/fugaz.woff') format('woff'),
    url('../font/fugaz.woff2') format('woff2'),
    url('../font/fugaz.ttf') format('truetype');
  font-style: normal;
}

html {
  font-size: 16px;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

body {
  /* background-color: #051C53; */
  background: linear-gradient(180deg,
      #020d1f 0%,
      #051746 16.11%,
      #092863 30.04%,
      #092964 100%);
  color: white;
  font-family: "Barlow";
  font-size: 1.1rem;
}

a {
  text-decoration: none;
  transition: 0.5s;
}

a:hover {
  color: #319e6e90;
}

/*****buttons and icons******/

@keyframes elementor-animation-pulse-grow {
  to {
    transform: scale(1.1)
  }
}

.button {
  font-family: "Barlow Bold";
  transition: 0.5s;
  border-radius: 50px;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 15px;
  font-weight: bold;
}

.button:active,
.button:hover,
.button:focus {
  animation-name: elementor-animation-pulse-grow;
  animation-duration: .3s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.button-green {
  border: 2px solid #319e6e;
  background-color: #319e6e;
  color: white;
}

.button-green:active,
.button-green:hover,
.button-green:focus {
  border: 2px solid #319e6e;
  background-color: transparent;
  color: #319e6e;
}


.button-blue {
  border: 2px solid #051746;
  background-color: #051746;
  color: white;
}

.button-blue:active,
.button-blue:hover,
.button-blue:focus {
  border: 2px solid #051746;
  background-color: transparent;
  color: #051746;
}

/********Navigation*******/

.navbar-brand img {
  width: 90px;
}

.menu-items a {
  color: white;
  transition: 0.5s;
  font-family: "Barlow Bold";
}

.menu-items a:hover {
  color: #319e6e;
}

.navbar .active a {
  color: #319e6e;
}

.nav-link:active,
.nav-link:focus {
  color: #319e6e;
}

.navbar-toggler:focus {
  box-shadow: none;
}

.bim-toggle {
  color: white;
}

/*******text style**********/
.stroke-text {
  color: transparent;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: white;
  font-weight: 900;
  text-transform: uppercase;
}

.stroke-text-green {
  font-family: "Fugaz";
  text-transform: uppercase;
  color: transparent;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #319e6e;
  font-weight: 900;
  text-transform: uppercase;
  font-size: 6rem;
  line-height: 0.9;
}

.hero-title {
  font-family: "Fugaz";
  text-transform: uppercase;
  font-size: 6rem;
  line-height: 0.9;
  font-weight: 400;
  padding: 0;
  margin: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background: -webkit-linear-gradient(#00a86a, #034a4c);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hero-title-shadow {
  font-family: "Fugaz";
  text-transform: uppercase;
  font-size: 6rem;
  line-height: 0.9;
  font-weight: 400;
  padding: 0;
  margin: 0;
  text-shadow: 1px 1px 0 white,
    -1px -1px 0 white,
    -6px 1px 0 #020f29,
    -8px 1px 0 white,
    -8px 1px 0 white,
    -8px -1px 0 white;
}


.event-infos {
  font-family: "Barlow Bold";
  text-transform: uppercase;
  font-size: 5rem;
  line-height: 0.9;
}

.hero-logo {
  width: 150px;
}

.section-title {
  text-align: center;
  font-family: "Fugaz";
  text-transform: uppercase;
  line-height: 0.8;
  font-size: 2.5rem;
}

.section-title-green {
  text-align: center;
  font-family: "Fugaz";
  text-transform: uppercase;
  line-height: 0.8;
  font-size: 2.5rem;
  color: #319e6e
}

.section-small-title-green {
  text-align: center;
  font-family: "Fugaz";
  text-transform: uppercase;
  line-height: 0.8;
  font-size: 1.45rem;
  color: #319e6e
}

.section-text {
  font-family: "Barlow";
  font-size: 1.5rem;
}

.section-text-bold {
  font-family: "Barlow Bold";
  font-size: 1.5rem;
}

.section-text-condensed {
  font-family: "Barlow";
  line-height: 0.8;
  font-size: 1.5rem;
}

.section-text-condensed-bold {
  font-family: "Barlow Bold";
  line-height: 0.8;
  font-size: 1.5rem;
}

/****** Forms ******/
.form-control::placeholder {
  color: #319e6e !important;
  opacity: 1;
}

.form-control:-ms-input-placeholder {
  color: #319e6e !important;
  opacity: 1;
}

.form-control::-ms-input-placeholder {
  color: #319e6e !important;
  opacity: 1;
}

.form-control {
  caret-color: white;
}

.form-control {
  background-color: transparent;
  border: 2px solid #319e6e;
  color: #319e6e;
}

.form-control:focus {
  background-color: transparent;
  box-shadow: none;
}

/**************Carousel***********/
.carousel-control-prev,
.carousel-control-next {
  background-color: transparent;
  border: none;
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
  width: 5vw;
  height: 5vw;
}

.carousel-img {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 35vw;
}

.modal-carousel-item {
  max-height: 80vh;
}

.carousel-indicators {
  position: relative;
  bottom: -3rem;
}

.carousel-indicators li {
  width: auto;
  height: auto;
  text-indent: unset;
}

.carousel-indicators [data-bs-target] {
  width: auto;
  height: auto;
  text-indent: unset;
  padding: 10px;
  margin-right: 10px;
  margin-left: 10px;
  background-color: transparent;
  color: white;
  opacity: 1;
  font-family: "Barlow Bold";
  font-size: 2rem;
}

.carousel-indicators .active {
  color: #319e6e;
}

/********cards*********/
.card {
  border: none;
}

.card,
.card-img {
  border-radius: 1.5rem;
}

.card-img,
.card-img-top {
  border-top-left-radius: 1.5rem;
  border-top-right-radius: 1.5rem;
  border-bottom-left-radius: 1.5rem;
  border-bottom-right-radius: 1.5rem;
}

/**************Modal**************/
.modal-content {
  background-color: white;
  border: none;
  border-radius: 30px;
  color: black;
}

.modal-header {
  border-bottom: none;
}

.modal-header .btn-close {
  width: 1.5em;
  height: 1.5em;
  background: transparent url("../img/icons/close.svg") center/1.5em auto no-repeat;
  opacity: 1;
}

.modal-title {
  font-family: "Barlow Bold";
}

.modal-title-italic {
  font-family: "Fugaz";
  text-transform: uppercase;
}

.modal-info-title {
  font-family: "Barlow Bold";
  line-height: 0.8;
}

.modal-info {}

.modal-img {
  width: 120px;
}

.modal-expo-img {
  border-radius: 20px;
  border: 2px solid #092964;
  width: 120px;
}

.modal-expo-info {
  font-family: "Barlow Bold";
}

.modal-expo-link {
  font-family: "Barlow Bold";
  text-decoration: none;
  color: black;
}

.modal-footer {
  border-top: none;
}

.modal-description {
  text-align: justify;
  height: 200px;
  overflow-x: hidden;
  overflow-y: auto;
}

/***************************************************/
/*********************HOMEPAGE**********************/
/***************************************************/

/**********Homepage: video section******/
.video-section .ratio {
  /* border: 3px solid #319e6e;
  border-radius: 20px; */
}

.video-section .ratio iframe {
  /* border-radius: 18px; */
}

/* .play-icon {
  position: absolute;
  color: white;
  font-size: 5rem;
  top: calc(50% - 50px);
  z-index: 99
} */

.video-caption {
  text-transform: uppercase;
  font-family: "Barlow Bold";
  text-align: start;
}

/***************Home page: echanges sections****************/
.conf-tab {
  text-decoration: none;
  color: white;
  font-family: "Barlow Bold";
  transition: 0.5s;
}

.conf-tab.active {
  color: #319e6e;
}

.conf-tab:hover {
  color: #319e6e;
}

.nom-conferencier {
  font-family: "Barlow Bold";
  font-size: 1.5rem;
}

.prof-conferencier {}

.conf-card-img-top {
  border: 3px solid #1e4693;
}

/***************Homepage: avenir sections****************/
.section-sub-title {
  font-family: "Barlow Bold";
  text-transform: uppercase;
}

.section-sub-title-lowercase {
  font-family: "Barlow Bold";
}

.section-sub-title-green {
  font-family: "Barlow Bold";
  text-transform: uppercase;
  color: #319e6e;
}

.section-sub-title-green-lowercase {
  font-family: "Barlow Bold";
  color: #319e6e;
  text-align: center;
}

.section-sub-title-blue-lowercase {
  font-family: "Barlow Bold";
  color: #051746;
}

.section-sub-title-blue {
  font-family: "Fugaz";
  text-transform: uppercase;
  color: #051746;
  line-height: 0.5;
}

.section-sub-title-italic {
  font-family: "Fugaz";
  text-transform: uppercase;
}

.section-col-text {
  text-align: justify;
}

.section-col-img {
  border-radius: 20px;
  width: 100%;
}

.carte-billetterie {
  background-color: #319e6e;
  height: 100%;
}

.btn-carte-billetterie {
  border: 2px solid #051746;
  background-color: #051746;
  color: white;
  text-transform: uppercase;
  border-radius: 50px;
  transition: 0.5s;
}

.btn-carte-billetterie:hover {
  background-color: transparent;
  color: #051746
}

.avenir-img {
  border-radius: 30px;
  width: 100%;
}

.quote {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 10px solid #319e6e;
}

.quote p {
  text-align: justify;
}

.quote-infos p {
  font-size: 0.8rem
}

.quote-infos p:first-of-type {
  font-size: 1rem;
  font-family: "Barlow Bold"
}

/****************Homepage: devenir exposant section***********/
.devenir-exposant-section {
  background-color: #319e6e;
}

.green-card {
  background-color: #319e6e;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/**************Homepage: Articles BIM*******************/

.newsletter-card {
  background-color: #319e6e;
  border-radius: 20px;
}

.newsletter-card-title {
  font-family: "Barlow Bold";
  text-transform: uppercase;
  text-align: center;
}

.newsletter-card-input {
  width: 80%;
  border: 2px solid #051746;
  color: #051746;
  font-family: "Barlow Bold";
  text-align: center;
}

.form-control.newsletter-card-input::placeholder {
  color: #051746 !important;
  font-family: "Barlow Bold";
  text-align: center;
}

.read-more {
  color: #319e6e;
  font-family: "Barlow Bold";
  transition: 0.5s;
}

.read-more:hover {
  color: #319e6e50;
}

/*******page exposition*******/

.expo-img {
  width: 100%;
  border-radius: 20px;
}

.expo-text {
  text-align: justify;
}

/*************page contact***********/
#contactForm .form-control {
  color: white;
}

#contactForm .form-control::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #319e6e;
  opacity: 1;
  /* Firefox */
}

#contactForm .form-control:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #319e6e;
}

#contactForm .form-control::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #c4c4c4;
}

#contactForm .form-control {
  caret-color: #319e6e;
}

#contactForm .form-control:focus {
  background-color: transparent !important;
}

.contact-titles {
  font-size: 4rem;
}

/*Contact select style*/
.custom-select {
  position: relative;
  font-family: inherit;
  border: 2px solid #319e6e;
  border-radius: 0.5rem;
}

.custom-select select {
  display: none;
}

.select-selected {
  background-color: transparent;
}

.select-selected:after {
  position: absolute;
  content: "";
  top: 20px;
  right: 15px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: #319e6e transparent transparent transparent;
}

.select-selected.select-arrow-active:after {
  border-color: transparent transparent #319e6e transparent;
  top: 12px;
}

.select-items div,
.select-selected {
  color: #319e6e;
  font-size: 1.3rem;
  font-family: inherit;
  padding: 8px 16px;
  cursor: pointer;
  user-select: none;
}

.select-items {
  position: absolute;
  background-color: #051c53;
  border-radius: 5px;
  border: 2px solid #319e6e;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 999;
}

.select-hide {
  display: none;
}

.select-items div:hover,
.same-as-selected {
  background-color: rgba(49, 158, 111, 0.514);
}

/************footer*************/

/*Newsletter*/
.line {
  opacity: 1;
  background-color: #319e6e;
  height: 3px;
  border: none;
}

.btn.button-newsletter {
  border-radius: 0px;
  font-family: "Barlow Bold";
  text-transform: uppercase;
  transition: 0.5;
}

.btn.button-newsletter:hover {
  background-color: transparent;
}

.input-group.input-group-newsletter {
  border-radius: 0px;
}

.form-control.newsletter-form {
  border-radius: 0px;
  font-family: "Barlow Bold";
}

.arrow-btn {
  line-height: 0;
  font-weight: bold;
  font-size: 40px;
}

.social-icons li {
  height: 50px;
  width: 50px;
  border: 2px solid white;
  transition: 0.5s;
}

.social-icons li i {
  font-size: 30px;
}

.social-icons li:hover {
  border-color: #319e6e;
  background-color: #319e6e;
}

.share-icons li {
  height: 50px;
  width: 50px;
  border: 2px solid black;
  transition: 0.5s;
}

.share-icons li i {
  color: black;
  font-size: 30px;
}

.share-icons li:hover {
  border-color: #319e6e;
  background-color: #319e6e;
}

/**********back to top***********/

#back-to-top {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  background: #319e6e;
  color: #fff;
  z-index: 1039;
  -webkit-transition: 0.2s opacity;
  transition: 0.2s opacity;
  cursor: pointer;
  border-radius: 10%;
  font-size: 20px;
}

#back-to-top:after {
  content: "\f106";
  font-family: "FontAwesome";
}

#back-to-top:hover {
  opacity: 0.8;
}

/*******page blog*****/
.blog-text {
  color: black;
  text-align: start;
}

.blog-item {
  border: 10px solid white !important;
}

.blog-item a .card-img-top {
  border-radius: 20px;
}

.blog-item img {
  width: 100%;
}

.blog-item-title {
  color: #051746;
  font-family: "Fugaz";
  text-transform: uppercase;
}

.blog-item-quote {
  text-align: start;
  color: #2a8a60;
  line-height: 1.2;
  font-size: 1.5rem;
  text-transform: uppercase;
  font-family: "Fugaz";
}

.similar {
  text-align: center;
  color: #319e6e;
  line-height: 1.2;
  font-size: 3rem;
  text-transform: uppercase;
  font-family: "Fugaz";
}

.green-text {
  font-family: "Barlow Bold";
  color: #319e6e;
}

.blog-item-suite-link {
  color: #319e6e;
  font-family: "Barlow Bold";
  text-decoration: none;
  transition: 0.5s;
  text-align: center;
}

.blog-item-suite-link h4 {
  margin-top: 10px;
}

.blog-item-suite-link:hover {
  color: #319e6e90;
  text-decoration: underline;
}

.newsletter-input {
  width: 80%;
  text-align: center;
  font-family: "Barlow Bold";
}

.btn-newsletter-input {
  width: 80%;
}

/***************page editions precedentes*************/
.edition-img {
  width: 100%;
  border-radius: 20px;
  border: 4px solid white;
}

.edition-icon {
  width: 70px;
}

/******404******/
.fond {
  width: 35%;
  z-index: -1;
  right: 0;
  padding: 0;
  top: 11.2rem;
}

.not-found-fond {
  width: 35%;
  z-index: -1;
  right: 0;
  padding: 0;
}

.not-found-container {
  height: 100vh;
}

.not-found-title {
  font-size: 5rem;
}

/***************page conference*************/

.conf-time {
  font-family: "Fugaz";
  text-transform: uppercase;
  color: #319e6e
}

.conf-name {
  font-family: "Barlow Bold";
  margin: 0;
}

.conf-social {
  height: 50px;
  width: 50px;
  border: 2px solid white;
  transition: 0.5s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.conf-social i {
  font-size: 30px;
}

.conf-social:hover {
  border-color: #319e6e;
  background-color: #319e6e;
}

.conf-hachtag {
  color: #319e6e;
}

.conf-bio {
  text-align: justify;
}

.conf-img {
  width: 150px;
}

/*********page formulaire************/
.checkbox-container {
  width: 50px;
}

.checkbox-container .form-check-input {
  border-radius: 0px;
  border: 8px solid white;
  box-shadow: none;
  height: 45px;
  width: 40px;
}

.checkbox-container .form-check-input:checked {
  box-shadow: none;
  border: 8px solid #319e6e;
  color: #319e6e;
}

.objectif-checkbox-container .form-check-input {
  border-radius: 0px;
  border: 2px solid #319e6e;
  box-shadow: none;
}

.objectif-checkbox-container .form-check-input:checked {
  background-color: #319e6e !important;
  border: 2px solid #319e6e;
  color: #fff;
}

.objectif-container {
  background-color: #051c53;
  border-radius: .5rem;
  border: 2px solid #319e6e;
  z-index: 1000;
}

.objectif-container p {
  color: #319e6e;
  font-size: 1.3rem;
}

.objectif-toggle {
  text-transform: uppercase;
  background-color: transparent;
  min-height: calc(1.5em + 1rem + 2px);
  padding: .5rem 1rem;
  font-size: 1.25rem;
  border-radius: .5rem;
  border: 2px solid #319e6e;
  color: #319e6e;
}

.objectif-toggle p {
  color: #319e6e;
}

/************HOMEPAGE Carousel************/
#carousel-container {
  display: flex;
  position: relative;
  width: 100%;
  align-items: center;
}

#carousel-items-holder {
  flex-grow: 1;
  display: flex;
  overflow: hidden;
}

#carousel-items-container {
  width: 100%;
  display: flex;
  transition: transform .3s;
}

.carousel-item {
  height: 100%;
  width: 20%;
  flex-shrink: 0;
  margin: 0;
  padding: 0;
  box-sizing: content-box;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.carousel-item-content {
  margin: 10px;
  flex-grow: 1;
  border: 3px solid #1e4693;
  border-radius: 1.5rem;
}

#carousel-left,
#carousel-right,
#carousel-left-button,
#carousel-right-button {
  background-color: #319e6e;
  border-radius: 50%;
  cursor: pointer;
  user-select: none;
  width: 80px;
  flex-shrink: 0;
  height: 80px;
}

#carousel-left-button,
#carousel-right-button { 
  display: flex;
  align-items: center;
  justify-content: center;
}

#carousel-left img,
#carousel-left-button img, 
#carousel-right img,
#carousel-right-button img {
  width: 80%;
}

#carousel-left-button {
  position: absolute;
  z-index: 1029;
  left: 0;
}

#carousel-right-button {
  position: absolute;
  z-index: 1029;
  right: 0;
}

.carousel-item-content img{
  border-radius: 1.5rem;
}

@media (min-width: 521px) and (max-width: 990px){
  .carousel-item {
      width: 33.33%;
  }
}
@media (max-width: 520px) {
  .carousel-item {
      width: 100%;
  }
}
@media (min-width: 991px) {
  .carousel-item {
      width: 20%;
  }
}
/*********responsive************/
@media (max-width: 991px) {
  body.modal-open .navbar {
    height: 100%;
    background-color: rgba(0, 14, 36, 0.9) !important;
  }

  .navbar-brand img {
    width: 60px;
  }

  .navbar-toggler-icon {
    width: 2em;
    height: 2em;
  }

  .navbar {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1050;
  }

  .menu-items a {
    font-size: 2.1rem;
    color: transparent;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 1.2px;
    -webkit-text-stroke-color: white;
    cursor: pointer;
  }

  .menu-items a:hover {
    -webkit-text-stroke-color: #319e6e;
  }

  .navbar .active a {
    -webkit-text-stroke-color: #319e6e;
  }

  .nav-button {
    padding: 10px 15px;
    font-size: 1.7rem;
  }

  .carousel-img {
    height: 100vw;
  }
}

@media (max-width: 520px) {

  .contact-titles {
    font-size: 3rem;
  }

  .carousel-img {
    height: 70vw;
  }

  .hero-title {
    font-size: 4rem;
  }

  .hero-title-shadow {
    font-size: 4rem;
  }

  .event-infos {
    font-size: 3rem;
  }

  .hero-logo {
    width: 100px;
  }
}

@media (min-width: 521px) and (max-width: 670px) {

  .contact-titles {
    font-size: 3rem;
  }

  .carousel-img {
    height: 70vw;
  }

}

@media (min-width: 671px) and (max-width: 768px) {

  .contact-titles {
    font-size: 4rem;
  }

  .carousel-img {
    height: 50vw;
  }
}

@media (min-width: 769px) and (max-width: 868px) {

  .contact-titles {
    font-size: 4rem;
  }

  .carousel-img {
    height: 50vw;
  }
}

@media (min-width: 869px) and (max-width: 991px) {

  .contact-titles {
    font-size: 4rem;
  }

  .carousel-img {
    height: 40vw;
  }
}