
/*------------------------------------*\
	Back to top
\*------------------------------------*/

#back-to-top {
    display:none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    background:  #319E6E;
    color: #FFF;
    z-index: 9999;
    -webkit-transition: 0.2s opacity;
    transition: 0.2s opacity;
    cursor: pointer;
    border-radius: 10%;
    font-size: 20px;
    &:after {
        content: "\f106";
        font-family: 'FontAwesome';
    }
    &:hover {
        opacity: 0.8;
    }
}


