.slider_area_blog {
    background-size: 100% 100%;
    background-position: left  top;
    background-repeat: no-repeat;
    width: 100%;
    height: 92px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-attachment: scroll;
}
.blog_area{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 200px;

    @media #{$mobile_device} {
        height: auto;
    }
    @media #{$tablet_device} {
        height: auto;
    }

    .grid-container {
        display: grid;
        grid-template-columns: auto auto;
        grid-gap: 20px;

        @media #{$tablet_device} {
            grid-template-columns: auto auto;
        }
        @media #{$mobile_device} {
            grid-template-columns: auto !important;
        }
        div {
            text-align: center;
            font-size: 30px;
            a { 
                .article {
                    width: 100%;
                    height: 300px;
                    background-size: 100% 100%;
                    background-repeat: no-repeat;
                    border: 10px solid $section_bg_2;
                    text-align: right;
                    transition: all 0.5s ease;
                    @media #{$tablet_device} {
                        width: 100%;
                        margin-left: 0%;
                        height: 180px;
                    }
                    @media #{$mobile_device} {
                        width: 100%;
                        margin-left: 0%;
                        height: 200px;
                    }
                }
                &:hover .article {
                    border-color: $hover_bg;
                }
            }
        }
    }
}