.multimedia-section {
    padding: 130px 0 100px;
    @media #{$tab}{
      padding: 70px 0 40px;
    }
    @media #{$medium_device}{
      padding: 80px 0 50px;
    }
    .video_thumbs{
      position: relative;
      text-align: center;
      margin-top: 0%;
      margin-bottom: 5%;
      .iframe {
          margin-left:100px;
          @media #{$tablet_device} {
              margin-left:0px;
          }
          @media #{$mobile_device} {
          }
      }
      #video_frame_medium {
          display: none;
          @media #{$tablet_device} {
              display: block;
              margin-left:20px;
          }
      }
      #video_frame_small {
          display: none;
          @media #{$mobile_device} {
              display: block;
              margin-left:10px;
          }
      }
      #video_frame {
          @media #{$tablet_device} {
              display: none;
          }
          @media #{$mobile_device} {
              display: none;

          }

      }
  }
  .teaser_thumbs{
    position: relative;
    text-align: center;
    margin-top: 0%;
    margin-bottom: 5%;
    .iframe {
        margin-left:100px;
        @media #{$tablet_device} {
            margin-left:0px;
        }
        @media #{$mobile_device} {
        }
    }
    #teaser_frame_medium {
        display: none;
        @media #{$tablet_device} {
            display: block;
            margin-left:20px;
        }
    }
    #teaser_frame_small {
        display: none;
        @media #{$mobile_device} {
            display: block;
            margin-left:10px;
        }
    }
    #teaser_frame {
        @media #{$tablet_device} {
            display: none;
        }
        @media #{$mobile_device} {
            display: none;

        }

    }
}
}