.footer_bg_1{
    background-image: url(../img/banner/footers.png);
    background-size: 100% 100%;
    background-position: left top;
    background-repeat: no-repeat;
    background-attachment: scroll;
    @media #{$mobile_device} {
    }
    @media #{$tablet_device} {
        //background-image: none;
    }
}
.footer_bg_2{
    background-image: url(../img/banner/foot.png);
    background-size: 100% 100%;
    background-position: left top;
    background-repeat: no-repeat;
    background-attachment: scroll;
    @media #{$mobile_device} {
    }
    @media #{$tablet_device} {
        //background-image: none;
    }
}
.footer{
    position: relative;
    text-align: center;

    .footer_top{
        padding-top: 100px;
        @media #{$mobile_device} {
            padding-top: 100px;
            padding-bottom: 0px;
        }
        .footer_widget{
            text-align: center;
            @media #{$mobile_device} {
                margin-bottom: 30px;
            }
            @media #{$tablet_device} {
                margin-bottom: 30px;
            }
            .footer_title{
                font-size: 30px;
                font-weight: 500;
                color: #fff;
                margin-bottom: 20px;

            }
            .footer_logo{
                font-size: 22px;
                font-weight: 400;
                color: #05386B;
                text-transform: capitalize;
                margin-bottom: 40px;
                @media #{$mobile_device} {
                    margin-bottom: 20px;
                }
            }
            p{
                color: #fff;
                line-height: 42px;
                font-size: 16px;
                font-weight: 500;
            }
            p.footer_text{
                font-size: 16px;
                color: #379683;
                margin-bottom: 23px;
                font-weight: 400;
                line-height: 28px;
                a.domain{
                    color: #379683;
                    font-weight: 400;
                    &:hover{
                        color: #5CDB95;
                        border-bottom: 1px solid #5CDB95;
                    }
                }
                &.doanar{
                    a{
                    font-weight: 500;
                    color: #379683;
                    
                    &:hover{
                        color: #5CDB95;
                        border-bottom: 1px solid #5CDB95
                    }
                    &.first{
                        margin-bottom: 10px;
                    }
                    }

                }
            }
            ul{
                li{
                    display: inline;
                    a{ 
                        margin-right:10px;
                        i{
                            font-size: 50px; 
                            color: #fff;
                            &:hover{
                                color: #379683;
                        }

                        }
                    }
                }
            }
            .newsletter_form{
                position: relative;
                margin-bottom: 20px;
                text-align: center;
                input{
                    width: 50%;
                    margin-left:25%;
                    height: 45px;
                    background: #fff;
                    border: 1px solid rgb(7, 131, 100);
                    font-size: 16px;
                    color: rgb(7, 131, 100);

                    &::placeholder{
                        font-size: 16px;
                        color: rgb(7, 131, 100);
                    }

                    @media #{$mobile_device} {
                        width: 80%;
                        margin-left:10%;
                    }
                    @media #{$tablet_device} {
                        margin-left:20%;
                    }
                }
                button{
                    position: absolute;
                    top: 0;
                    margin-left: 147px;
                    height: 100%;
                    font-size: 14px;
                    color: #fff;
                    background: rgb(7, 131, 100);
                    border:none;
                    border-top-right-radius: 5px;
                    border-bottom-right-radius: 5px;
                    padding: 10px;
                    padding: 0 22px;
                    cursor: pointer;
                    &:hover{
                        background: rgba(7, 131, 100, 0.747);
                        color:#fff;
                    }
                    @media #{$mobile_device} {
                        margin-left:6%;
                    }
                    @media #{$tablet_device} {
                        margin-left:15%;
                    }

                }

            }
            .newsletter_text{
                width: 100%;
                margin-top:50px;
                h3 {
                    font-size: 20px;
                    color: #fff;
                    text-align: center;
                }
            }
        }
    }
    .copy-right_text{
        padding-bottom: 30px;
        .footer_border{
            //border-top: 1px solid rgba(255, 255,255, .2);
            padding-bottom: 30px;
        }
        .copy_right{
            font-size: 16px;
            color:#fff;
            margin-bottom: 0;
            font-weight: 400;

            a{
                color: rgb(7, 131, 100);
                cursor: pointer;

            }
        }
    }
    .socail_links{
        margin-top: 47px;
        @media #{$mobile_device} {
            margin-top: 30px;
        }
        ul{
            li{
                display: inline-block;

                a{
                    font-size: 18px;
                    color: #C3B2F0;
                    line-height: 42px;
                    width: 50px;
                    height: 50px;
                    display: inline-block;
                    text-align: center;
                    background: #8565E2;
                    border-radius: 3px;
                    line-height: 50px !important;
                    margin-right: 7px;
                 &:hover{
                     color: #fff !important;
                 }
                }
            }
        }
    }

    @media #{$tablet_device} {
        height:auto;
    }
}
