.partner_bg_1{
    background-image: url(../img/partners/part.png);
    background-size: 100% 100%;
    background-position: left top;
    background-repeat: no-repeat;
    background-attachment: scroll;
    @media #{$tablet_device} {
        //background-image: none;
    }

}
.partners_area{
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    
    @media #{$mobile_device}{
        padding-top: 10%; 
        height: auto;
    }
    @media #{$tablet_device} {
        height: 40vh;
    }
    .big_horizontal_text{
        font-size: 120px;
        font-weight: 700;
        padding-top: 100px;
        position: absolute;
        right: 0;
        top: 100px;
        color: #F3F3F3;
        @media #{$mid_device} {
            font-size: 90px;
        }
    }
    .part_img {
        text-align: center;
        img {
            margin-bottom: 5%;
            @media #{$tablet_device}{
                width: 70%;
                margin-left: 5%;
            }
            @media #{$mobile_device}{
                width: 80%; 
            }
        }
    }
}
