#speak_bg {
    background-image: url(../img/speakers/ps.png);
    background-size: 100% 100%;
    background-position: left top;
    background-repeat: no-repeat;
    background-attachment: scroll;
    @media #{$tablet_device} {
        //background-image: none;
    }
}

.speakers_area{
    position: relative;
    background-image: url('../img/speakers/p5.png');
    background-size: 100% 100%;
    background-position: left top;
    background-repeat: no-repeat;
    background-attachment: scroll;
    height: auto;
    @media #{$tablet_device} {
       background-image: url('../img/speakers/medium.png');
    }
    &.inc_padd{
        //padding-top: 200px;
        @media #{$mobile_device} {
            padding-bottom: 0px;
            padding-top: 50px;
        }
        @media #{$tablet_device} {
            padding-bottom: 100px;
            padding-top: 70px;
        }
    }
    @media #{$mobile_device} {
        padding-bottom: 0px;
        padding-top: 50px;
    }

    .horizontal_text{
        font-size: 120px;
        font-weight: 700;
        position: absolute;
        right: 150px;
        top: 80px;
        color: #F3F3F3;
        @media #{$mid_device} {
            font-size: 90px;
        }
        @media #{$mobile_device} {
            display:none;
        }
    }
    .horizontal_speak_text{
        font-size: 120px;
        font-weight: 700;
        position: absolute;
        right: 150px;
        top: 50px;
        color: #F3F3F3;
        @media #{$mid_device} {
            font-size: 90px;
        }
        @media #{$mobile_device} {
            display:none;
        }
    }
    .infos-expo {
        padding-top: 50px;
        padding-bottom: 50px;
        text-align: center;
        i {
            font-size:30px;
            color:#05386B;
            margin-top:20px;
        }
        span {
            font-weight: 200;
            color: #707070;
            font-size: 16px;
            line-height: 28px;
            text-align: center;
        }
    }

    .voirplus {
        @media #{$mobile_device}{
            display:none;
        } 
        @media #{$tablet_device}{
            display:none;
        }
    }
    .voir_mob {
        display:none;
        @media #{$mobile_device}{
           display:block;
           font-size: 12px;
        }
        @media #{$tablet_device}{
            display:none;
         }
    }
    .voir_med {
        display:none;
        @media #{$tablet_device}{
           display:block;
           font-size: 14px;
        }
    }

    .grid-container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));

        @media #{$mobile_device} {
           grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        }
    
    .single_speaker{
        margin-bottom: 90px;
        overflow: hidden;
        padding: 20px;

        @media #{$mobile_device} {
            padding: 30px;
            margin-bottom: 5px;
         }
         @media #{$tablet_device} {
            padding: 60px;
            margin-bottom: 5px;
         }
        .speaker_thumb{
            position: relative;
            overflow: hidden;
            img{
                width: 100%;
                border-radius: 10px;
            }
            .hover_overlay{
                position: absolute;
                width: 100%;
                height: 100%;
                left: 0;
                bottom: 0;
                border-radius:10px;
                background: rgba(92, 219, 149, 0.534);
                @include transition(.5s);
                @include transform(translateY(80%));
                opacity: 0;
                .social_icon{
                    position: absolute;
                    left: 0;
                    right: 0;
                    text-align: center;
                    bottom: 40px;
                    @include transition(.5s);
                    
                    a{
                        width: 50px;
                        height: 50px;
                        @include transition(.3s);
                        @include border-radius(50%);
                        background: #fff;
                        display: inline-block;
                        line-height: 50px;
                        font-size: 17px;
                        color: #5CDB95;
                        margin: 0 7px;

                        &:hover{
                            @extend %gradient_1;
                            color: #fff;
                        }
                    }
                }
            }
        }
        .speaker_name{
            h3{
                font-size: 20px;
                font-weight: 600;
                margin-top: 40px;
                margin-bottom: 7px;

                @media #{$mobile_device} {
                     font-size: 20px;
                     margin-top: 20px;
                     margin-bottom: 0px;
                 }
                 @media #{$tablet_device} {
                    font-size: 20px;
                    margin-top: 30px;
                    margin-bottom: 0px;
                }
            }
            p{
                margin-bottom: 0;
                font-size: 16px;
                color: #379683;
                font-weight: 400;
            }
        }
        &:hover{
            .hover_overlay{
                @include transform(translateY(0));
                opacity: 1;
            }
            .speaker_thumb{
                .social_icon{
                    @include transform(scaleX(1));
                }
            }
           
        }

        .text-collapse{
            transition-duration: 1s;
            overflow: hidden;
        }
        a {
            color: #0181F5;
            font-size: 16px;
            line-height: 28px;
            cursor: pointer;
            &:hover {
                color:rgba(1, 127, 245, 0.644);
            }
        }
    }
}

.infos {
    width: 80%;
    margin-left: 10%;
    margin-bottom: 10% ;
    text-align: center;
    a {
        font-family: $font1;
        background: linear-gradient(#00F260, #0575E6);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
         font-weight: 600;
         font-size: 26px;
         @media #{$mobile_device} {
            font-size: 20px;
        }
        @media #{$tablet_device}{
            font-size: 20px;
        }
         &:hover {
            background: linear-gradient(#c3c3c3, #c3c3c3);
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
         }
    }

}

}