.slider_bg_1{
    background-image: url('../img/banner/tab_header.png');
    background-size: 100% 100%;
    background-position: left  top;
    background-repeat: no-repeat;
    background-attachment: scroll;
}

.slider_area{
    width: 100%;
    height: 130vh;
    display: flex;
    align-items: center;
    justify-content: center;

    @media #{$mobile_device} {
        height: auto;
    }
    @media #{$tablet_device} {
        height: auto;
    }
    .position_relv{
        position: relative;
        padding-bottom: 265px;
    }
    
    .title_text{
        position: relative;
        z-index: 3;
        //padding: 0px 8px 0px 0px;
        margin-top:10%;
        @media #{$mobile_device} {
            margin-bottom: 30px;
        }
        @media #{$tablet_device} {
            margin-bottom: 30px;
        }
        @media #{$mid_device} {
            margin-bottom: 30px;
        }
        &.title_text2{
            margin-bottom: 60px;
            padding: 55px 8px 25px 0px;
            @media #{$mobile_device} {
                margin-bottom: 0;
                padding: 0;
            }
            &::before{
                display: none;
            }
            &:after{
                position: absolute;
                background-image: url(../img/banner/path2.png);
                content: "";
                background-repeat: no-repeat;
                background-size: contain;
                z-index: -1;
                left: -14.5%;
                width: 120%;
                height: 120%;
                top: -7%; 
                opacity: 0.6;
                @media #{$mobile_device} {
                    display: none;
                }
                @media #{$mid_device} {
                    display: none;
                }
                @media #{$tablet_device} {
                    display: none;
                }
                @media #{$large_device} {
                    display: none;
                }
            }
        }
        &::before{
            position: absolute;
            background-image: url(../img/banner/path.png);
            content: "";
            background-repeat: no-repeat;
            background-size: contain;
            z-index: -1;
            left: -14.5%;
            width: 120%;
            height: 120%;
            top: -7%;
            opacity: 0.6;
            @media #{$mobile_device} {
                display: none;
            }
            @media #{$mid_device} {
                display: none;
            }
            @media #{$tablet_device} {
                display: none;
            }
            @media #{$large_device} {
                display: none;
            }
        }
        h3{
            font-size: 90px;
            font-weight: 700;
            text-transform: capitalize;
            line-height: 100px;
            color: #fff;
            margin-bottom: 66px;
            @media #{$mobile_device} {
            font-size: 50px;
            line-height: 43px;
            margin-bottom: 30px;
            }
            @media #{$tablet_device} {
            font-size: 60px;
            line-height: 55px;
            margin-bottom: 30px;
            }
            @media #{$mid_device} {
            font-size: 60px;
            line-height: 70px;
            margin-bottom: 20px;
            }
        }
        a {

            margin-bottom: 200px;
            @media #{$mobile_device} {
                margin-top: 80px;
                margin-bottom: 0px;
            }
            @media #{$tablet_device} {
                margin-bottom: 100px;
            }
        }
    }

    .single_date{

        margin-top:75%;

        @media #{$mobile_device}{
            margin-bottom: 0px;
            margin-top:0%;
        }
        @media #{$tablet_device} {
            margin-top:0%;
        }
        i{
            padding-right: 10px;
        }
        p{
            text-align: left;
            color: #fff;
            font-size: 20px;
            font-weight: 600;
            @media #{$mobile_device}{
                font-size: 16px;
            }
            @media #{$tablet_device} {
                font-size: 18px;
            }
        }
    }
    .single_location{
        margin-top:50%;
 
        @media #{$mobile_device}{
            font-size: 12px;
            margin-right:0%;
            margin-top:0%;
        }
        @media #{$tablet_device} {
            margin-bottom: 5px;
            margin-top:0%;
        }
        i{
            padding-right: 10px;
        }
        p{
            text-align: left;
            color: #fff;
            font-size: 20px;
            font-weight: 600;
            @media #{$mobile_device}{
                font-size: 16px;
            }
            @media #{$tablet_device} {
                font-size: 18px;
            }
        }
    }

    .mob_info {
        width: 100%;
        display:none;
        margin-top:30%;

        i{
            padding-right: 10px;
        }
        p{
            text-align: left;
            color: #fff;
            font-size: 16px;
            font-weight: 600;
        }
        .day{
            float:left;
            width: 50%;
        }
        .place{
            float:right;
            width: 50%;
        }
        @media #{$mobile_device}{
            display: block;
        }
        @media #{$tablet_device} {
            display: none;
        }
    }

    .event_info {
        @media #{$mobile_device}{
            display: none;
        }
    }
    .countDOwn_area {
        width: 100%;
        padding-top: 150px;
        padding-left: 10%;
        @media #{$mobile_device} {
            padding-top: 10px;
            padding-left: 5%;
        }
        @media #{$mid_device} {
            padding-top: 150px;
        }
        @media #{$tablet_device} {
            padding-top: 150px;
        }
    }
    .countdown_time{
        text-align: right;
        @media #{$tablet_device} {
            margin-top: 40px;
            text-align: left;
        }
        @media #{$mobile_device} {
            text-align: left;
        }
        @media #{$mid_device} {
            text-align: left;
        }
        .single_countdown{
            display: inline-block;
            text-align: right;
            margin-right:20px;
            @media #{$mobile_device}{
                margin-right: 10px;
                margin-top: 20px;
            }
            @media #{$mid_device}{
                margin-right: 10px;
                margin-top: 20px;
            }
            h3{
                color: #fff;
                font-size: 46px;
                font-weight: 600;
                @media #{$mobile_device}{
                    font-size: 20px;
                }
            }
            span{
                font-size: 16px;
                color: #fff;
                text-transform: capitalize;
            }
        }
    }
}
.opcity_text{
    position: absolute;
    right: 0;
    writing-mode: vertical-lr;
    @include transform(rotate(180deg));
    font-size: 90px;
    top: -0px;
    color: rgba(255,255,255,.08);
     font-weight: 700;
     right: -87px;
    @media #{$mid_device} {
        font-size: 90px;
    }
}
.slider_area_pages {
    background-size: 100% 100%;
    background-position: left  top;
    background-repeat: no-repeat;
    width: 100%;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-attachment: scroll;
}

.slider_area_app {
    background-size: 100% 100%;
    background-position: left  top;
    background-repeat: no-repeat;
    width: 100%;
    height: 85px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-attachment: scroll;
    @media #{$tablet_device} {
        height: 75px;
    }
    @media #{$mobile_device} {
        height: 75px;
    }
}